*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background: black;
}

.container{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.cell{
  border: 1px solid #e7b1df;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: #f6cfff00;
  color: #ea9ee1; 
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.turn{
  font-size: 1.5rem;
  padding: 15px;
  color: #f796f2;
  font-weight: bold;
  font-family: monospace;
}

.game{
  display: none;
}

.start-restart button{
  font-size: 1.3rem;
  padding: 12px;
  margin: 15px 5px;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: #411941;
}