*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: white;
  background: black;
  font-family: "Science Gothic", sans-serif ;
}

.container{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

h1{
  color: #dfa2df;
}

.cell{
  border: 1px solid #e7b1df;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: #f6cfff00;
  color: #ffff;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.board button:hover{
  cursor: pointer;
  background-color: #ee82ee26;
  transition: background-color 0.2s ease-out 0.2s;
}

.turn{
  font-size: 1.5rem;
  padding: 15px;
  color: #f796f2;
}

.game{
  display: none;
}

.start-restart button{
  font-size: 1.3rem;
  font-family: inherit;
  padding: 12px;
  margin: 15px 5px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #411941;
  cursor: pointer;
}

dialog[open]{
  display: grid;
  gap: 10px;
  padding: 130px 80px;
  position-area: center;
  font-size: 1.25rem;
  background-color: black;
  color: white;
  border: 1px solid violet;
}

dialog button {
  padding: 30px;
  border-radius: 5px;
  border: none;
  background-color: #e98ce3; 
  font-size: 1.1rem;
  cursor: pointer;
}

dialog input{
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffff;
  color: violet;
  background-color: black;
}
